---
import Layout from '../layouts/BaseLayout.astro';
import {Image} from 'astro:assets'
import banner from '@images/SJLBanner.jpg'
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Snap Judgments League Tournament</h1>
		<Image src={banner} alt="SJLBanner" />
	</main>
</Layout>
